<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Healthy Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans&family=Caveat&family=Mali&family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1eafb86563.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="image/Icon.ico" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/style/login.css"> -->
  </head>
  <body>
    <!-- navba -->
<nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
              <a class="navbar-brand" href="/home">
          <img src="image/LogoMakr-9hxlHD.png" alt="Logo" width="100" height="40" class="d-inline-block align-text-top">

        </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
              
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/index">Temp</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <button class="btn btn-dark" type="submit"><a class="nav-link" href="/home_to_login">LOGOUT</button></a>
               </form>
            </div>
          </div>
        </nav>


<ul>

      <div class="container mt-5">
        <h1>300+ Workouts</h1>
        <h1>300+ Workouts</h1>
        <div class="col-md-6 col-sm-6">
            <div class="feature">
                <h1>300+ Workouts</h1>
                <p>Diversify with over 300 exercises.</p>
              <!--img src="image/300.jpg" alt="300+" width="450" --> 
            </div>
    </div>

</ul>

<ul>  
  
  <div  class="container mt-5">
    <h2>
      Dynamic warm-up complex (perform one round without rest):
    </h2  >
   <ul>
    <li>Jumping jacks – 15 reps </li>
    <li> Push-ups – 15 reps </li>
    <li>Walking lunges – 30 steps total (15 Each Leg) </li>
    <li>Burpees – 15 reps </li>
  </ul>
  </div>
</ul>
       
<ul>  <!-- Beginner300+ -->

      <div class="container mt-5">
          <div class="feature">
              <h3>Beginner 150 - 150 total reps </h3>
 
            <ul>
              <li> Inverted rows - 15 reps </li>
              <li> Body-weight prisoner squats - 25 reps </li>
              <li> Pushups - 20 reps </li>
              <li> Jumping jacks - 40 reps </li>
              <li> Floor V-ups - 20 reps </li>
              <li> One-arm dumbbell push press - 15 reps each </li>
              <li> Inverted rows - 15 reps </li>
              <li> 150 total reps performed  </li>
            </ul>   
          </div>
</ul>


<ul>    <!-- Intermediare -->

  <div class="container mt-5">
    <div class="feature">
        <h3>Intermediate 230 - 230 total reps </h3>
  
      <ul>
        <li> Pullups - 20 reps </li>
        <li> Barbell or dumbbell deadlift - 30 reps </li>
        <li> Pushups - 40 reps</li>
        <li> Squat jumps - 40 reps </li>
        <li> Floor V-ups - 40 repss </li>
        <li>Kettlebell push press - 40 reps </li>
        <li> Pullups or inverted row - 20 reps </li>
        <li> 230 total reps performed  </li>
      </ul>   
    </div>
    <br><br>
    <div>
      <img src="image/300++.jpg" alt="workout" width="380">
    </div>
  
</ul>

<ul>
  <div class="container mt-5">
    
    <h4> For more information, please feel free to contact us. </h4>
    <button  class="btn btn-dark"><a class="nav-link" href="/contact">Contact</a> </button>
   </div>
</ul>


<br>
<br>
<br>
<br>
<br>