<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Healthy Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans&family=Caveat&family=Mali&family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1eafb86563.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="image/Icon.ico" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/style/login.css"> -->
  </head>
  <body>
    <!-- navba -->
<nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
              <a class="navbar-brand" href="/home">
          <img src="image/LogoMakr-9hxlHD.png" alt="Logo" width="100" height="40" class="d-inline-block align-text-top">

        </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
              
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>

              </ul>
              <form class="d-flex" role="search">
              <button class="btn btn-outline-success1" type="submit"><a class="nav-link" href="/login">LOGIN</button></a>

              <button class="btn btn-outline-success" type="submit"><a class="nav-link" href="/signup">SIGN UP</button></a>
              </form>
            </div>
          </div>
        </nav>




<ul>  
  <div  class="container mt-5" >
    <h2>300 Workout: The Rise Of A New You</h2>
    <p>Below is a modified four day program to challenge not only your capacity for intensity but will test your ego. 
    Try them on any four days of the week for four weeks (for description sake Monday, Tuesday, Thursday and Friday will be used). 
      Challenge yourself for not only intensity and reps but also for time. Be sure to perform each move with proper form and technique and adhere to the warm-up as well. </p>

  </div>
  <div  class="container mt-5">
    <h5>
      Dynamic warm-up complex (perform one round without rest):
    </h5  >
   <ul>
    <li>Jumping jacks – 15 reps </li>
    <li> Push-ups – 15 reps </li>
    <li>Walking lunges – 30 steps total (15 Each Leg) </li>
    <li>Burpees – 15 reps </li>
  </ul>
  </div>
</ul>

<ul>    <!-- Monday -->

  <div class="container mt-5">
    <div class="feature">
        <h4 >Monday</h4>


      <ul>
        <em> Exercise </em>
        <li> Barbell clean and press - 15 reps</li>
        <li> Pull-ups - 25 reps </li>
        <li> Split squat jumps - 30 reps</li>
        <li> Feet-elevated push-ups - 30 reps </li>
        <li> Hanging leg raises or lying leg raises - 40 repss </li>
        <li> Two-arm kettlebell swing - 40 reps </li>
        <li> 30-50 yard sprint or sled push </li>
        <em> Perform the complex for one to three rounds  </em>
      </ul>   
    </div>
</ul>

<ul>    <!-- Tuesday -->

  <div class="container mt-5">
    <div class="feature">
        <h4 >Tuesday</h4>


      <ul>
        <em> Exercise </em>
        <li> One-arm kettlebell or dumbbell clean and press - 15 reps</li>
        <li> Barbell deadlifts - 20 reps </li>
        <li> Box jumps - 30 reps</li>
        <li> Renegade rows - 20 reps </li>
        <li> Mountain climbers - 30 repss </li>
        <li> Goblet squats - 20 reps </li>
        <li> Inverted rows - 20 reps </li>
        <li> 2 minute jog  </li>
        <em> Perform the complex for one to three rounds </em>
      </ul>   
    </div>
</ul>

<ul>    <!--  Thursday -->

  <div class="container mt-5">
    <div class="feature">
        <h4 > Thursday</h4>


      <ul>
        <em> Exercise </em>
        <li> One-arm kettlebell or dumbbell push press - 15 reps</li>
        <li> Reverse-grip chin-ups - 25 reps </li>
        <li> Walking lunges - 15 Each Leg</li>
        <li> Close-Grip push-ups - 30 reps </li>
        <li> Floor wipers  - 40 repss </li>
        <li> Barbell upright row - 40 reps </li>
        <li> 30-50 yard sprint or sled push </li>
        <em> Perform the complex for one to three rounds </em>
      </ul>   
    </div>
</ul>

<ul>    <!--  Friday -->

  <div class="container mt-5">
    <div class="feature">
        <h4 > Friday</h4>
      <ul>
        <em> Exercise </em>
        <li> Kettlebell or dumbbell deadlifts - 20 reps</li>
        <li> Two-arm kettlebell or dumbbell clean and press - 15 reps </li>
        <li> Bench step-ups - 30 Each Leg</li>
        <li> Inverted rows - 20 reps </li>
        <li> Floor leg raise/crunch combo  - 15 Each </li>
        <li> Barbell squats - 20 reps </li>
        <li> Push-ups on dumbbells - 20 reps </li>
        <li> 2 minute jog </li>
        <em> Perform the complex for one to three rounds </em>
      </ul>   
    </div>
</ul>

<ul>
  <div class="container mt-5">
    
    <h4> For more information, please feel free to contact us. </h4>
    <button  class="btn btn-dark"><a href="/contact"></a> contact</button>
   </div>
</ul>
<br><br><br><br><br>
