<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Healthy Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans&family=Caveat&family=Mali&family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1eafb86563.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="image/Icon.ico" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style/signup.css">
  </head>
  <body>
    <!-- navba -->
    <nav class="navbar navbar-expand-lg  ">
      <div class="container-fluid ">
          <a class="navbar-brand" href="/home_to_login">
      <img src="image/LogoMakr-9hxlHD.png" alt="Logo" width="100" height="40" class="d-inline-block align-text-top">
          </a>
     </div>
    </nav>
        
    
    <section id="signup">
      <div class="row" style=" justify-content: center;">
        <div class="col-md-5 " style="text-align: center;">
          <img class = "image-left" src="image/image-left.png"  alt="image-left">
      </div>

       <div class="col-md-6 " >
       <div >
        <h1>SIGN UP</h1>
       </div>
       <div class="card-body">
        <form action="/signup" method="POST">
          <div class="form-group col-lg-8 mx-auto">
            <label for="username">Username</label>
            <input type="username" class="form-control" name="username">
          </div>
          <div class="form-group col-lg-8 mx-auto">
            <label for="date">Date of Birth</label>
            <input type="date" class="form-control" name="date">
          </div>
          <div class="form-group col-lg-8 mx-auto" >
              <label for="weight">Weight</label>
              <input type="weight" class="form-control" name="weight"> 
          </div>
             <div class="form-group col-lg-8 mx-auto">
              <label for="height">Height</label>
              <input type="height" class="form-control" name="height">
            </div>
            <div class>
              <div class="form-group col-lg-8 mx-auto">Sex</div>
            <div class>
                <div class="form-check col-lg-8 mx-auto">
                  <input class="form-check-input" type="radio"
                  name="radio_gender" id="radio_gender_1" value="male" required>
                  <label class="form-check-label" for="radio_gender_1">
                    Male
                  </label>
                </div>
                <div class="form-check col-lg-8 mx-auto">
                  <input class="form-check-input" type="radio"
                  name="radio_gender" id="radio_gender_2" value="female" required>
                  <label class="form-check-label" for="radio_gender_2">
                    Female
                  </div>  
                  <div class="form-check col-lg-8 mx-auto">
                    <input class="form-check-input" type="radio"
                    name="radio_gender" id="radio_gender_3" value="Other">
                      Other
                    </div> 
             </div>    
                
          <div class="form-group col-lg-8 mx-auto">
            <label for="tel">Tel.</label>
            <input type="tel" class="form-control" name="tel">
          </div>
          <div class="form-group col-lg-8 mx-auto">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group col-lg-8 mx-auto">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
                   

          <div class = "button-signup col-lg-8 mx-auto">
            <button type="submit" class="btn btn-primary">SIGN UP</button>
            <button  type="submit" class="btn btn-dark"><a class="nav-link" href="/home_to_login">CANCLE</button></a> 
          </div>
        
        </form>

      </div>
    
    </div>
    
       
      </div>
    </section>




 </body>
  </html>
